<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - beanZ</title>
        {% else %}
        <title>Welcome to beanZ</title>
        {% endif %} 
    </head>
    <body>
        <!-- Navigation bar -->
        <div>
            beanZ: 
            <a href={{ url_for('index') }}>Home</a>
            {% if current_user.is_anonymous %}
            <a href={{ url_for('login') }}>Login</a>
            {% else %}
            <a href={{ url_for('user', username=current_user.username) }}>Profile</a>
            <a href={{ url_for('logout') }}>Logout</a>
            {% endif %}
        </div>
        <hr>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- Main body -->
        {% endblock %}
    </body>
</html>