<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - beanZ</title>
        {% else %}
        <title>Welcome to beanZ</title>
        {% endif %} 
    </head>
    <body>
        <!-- Navigation bar -->
        <div>
            beanZ: 
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- Main body -->
        {% block content %}
        {% endblock %}
    </body>
</html>